.pokemons-list {
    width: 100%;
    padding: 20px 15px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}
@media screen and (min-width: 700px) {
    .pokemons-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}